body {
    margin: 0;
    padding: 0;
}

.loading-box {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    user-select: none;
}

.spinner-box {
    margin: 40px auto;
    height: 80px;
    text-align: center;
    font-size: 10px;
}

.spinner-box>div {
    background-color: #67CF22;
    height: 100%;
    width: 6px;
    margin: 0 2px;
    display: inline-block;
    animation: loading 1.2s infinite ease-in-out;
}

.spinner-box .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}

.spinner-box .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

.spinner-box .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

.spinner-box .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}

@keyframes loading {

    0%,
    40%,
    100% {
        -webkit-transform: scaleY(0.4)
    }

    20% {
        -webkit-transform: scaleY(1.0)
    }
}

.loading-title {
    font-size: 25px;
    font-weight: 550;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    align-items: center;
}

