{
    "extends": "@flypeng",
    "rules": {
        "no-undef": "off",
        "camelcase": "off",
        "vue/require-component-is": "off",
        "vue/multi-word-component-names": "off",
        "vue/v-on-event-hyphenation": "off",
        "@typescript-eslint/ban-ts-comment": "off"
    }
}
