/* fade */
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease-in-out;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

/* fade-slide */
.fade-slide-leave-active,
.fade-slide-enter-active {
  transition: all 0.5s;
}

.fade-slide-enter-from {
  transform: translateX(-100px);
  opacity: 0;
}

.fade-slide-leave-to {
  transform: translateX(100px);
  opacity: 0;
}

/* fade-bottom */
.fade-bottom-enter-active,
.fade-bottom-leave-active {
  transition:
    opacity 0.5s,
    transform 0.5s;
}

.fade-bottom-enter-from {
  transform: translateY(-10%);
  opacity: 0;
}

.fade-bottom-leave-to {
  transform: translateY(10%);
  opacity: 0;
}

/* fade-top */
.fade-top-enter-active,
.fade-top-leave-active {
  transition:
    opacity 0.5s,
    transform 0.5s;
}

.fade-top-enter-from {
  transform: translateY(10%);
  opacity: 0;
}

.fade-top-leave-to {
  transform: translateY(-10%);
  opacity: 0;
}

/* fade-scale */
.fade-scale-leave-active,
.fade-scale-enter-active {
  transition:
    transform 0.5s,
    opacity 0.5s ease-out;
}

.fade-scale-enter-from {
  transform: scale(1.2);
  opacity: 0;
}

.fade-scale-leave-to {
  transform: scale(0.8);
  opacity: 0;
}

/* zoom-fade */
.zoom-fade-enter-active,
.zoom-fade-leave-active {
  transition:
    transform 0.5s,
    opacity 0.5s ease-out;
}

.zoom-fade-enter-from {
  transform: scale(0.92);
  opacity: 0;
}

.zoom-fade-leave-to {
  transform: scale(1.06);
  opacity: 0;
}

/* zoom-out */
.zoom-out-enter-active,
.zoom-out-leave-active {
  transition:
    opacity 0.5s ease-in-out,
    transform 0.5s ease-out;
}

.zoom-out-enter-from,
.zoom-out-leave-to {
  transform: scale(0);
  opacity: 0;
}
